services:
  db:
    image: postgres:17.7-alpine
    container_name: kanri_system_postgres
    environment:
      POSTGRES_USER: kanri_sys
      POSTGRES_PASSWORD: kanri_sys
      POSTGRES_DB: kanri_system
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network
volumes:
  db-data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge